.signup-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.signup-main {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 486px;
  max-width: 624px;
  height: 100vh;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.10);
}

.main-header {
  padding: 1em;
  align-self: flex-start;
}

.main-header__logo {

}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.form-fields {
  min-width: 100%;
  padding: 0 18%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-fields__heading {
  font-size: 2rem;
  font-weight: 600;
}

.form-fields__text {
  font-size: 0.9rem;
  color: #6F7D80;
  line-height: 18px;
  margin-bottom: 13%;
}

.form-fields__label {
  font-size: 1rem;
  font-weight: 600;
  color: #373D3F;
  line-height: 18px;
  display: block;
  margin-bottom: 0.5em;
}

.form-fields__input {
  font-size: 1rem;
  font-weight: 300;
  color: #373D3F;
  line-height: 18px;
  /*display: block;*/
  margin-bottom: 0.5em;
  padding: 0.8em;
  outline: none;
  border: 0.08em solid #999;
  border-radius: 0.3em;
}

.form-fields__input-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-fields__input--full-width {
  min-width: 100%;
  font-size: 1.1rem;
}

.form-fields__input--half-width {
  max-width: 48%;
}

.form-fields__overview-item {
  border-bottom: 0.1em solid #babbbf;
  margin-bottom: 2em;
  width: 100%;
  outline: 0;
}

.form-fields__overview-input {
  background: 0 0;
  border: none;
  width: 90%;
  font-size: 1.2rem;
  padding: 0;
  margin-left: 0;
  color: #434245;
  height: 2.5rem;
  outline: none;
}

.form_fields__add-adress {
  color: #3DD281;
  align-self: flex-end;
}

.main-footer {
  min-height: 15%;
  text-align: center;
}

.main-footer__button-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 18%;
}

.main-footer__button {
  font-size: 1em;
  background: #3DD281;
  border-radius: 0.25rem;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 14px 80px 16px;
  text-decoration: none;
  outline: 0;
  transition: 200ms ease;
  cursor: pointer;
}

.main-footer__skip-button {
  font-size: 1em;
  background: #ffffff;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: #DBDFE0;
  color: #fff;
  font-weight: 600;
  padding: 14px 48px 16px;
  text-decoration: none;
  outline: 0;
  transition: 200ms ease;
  cursor: pointer;
  color: #DBDFE0;
}

.main-footer__button:hover {
  background: #3AC77B;
  transition: 200ms ease;
}

.main-footer__button:disabled {
  font-size: 1em;
  background: #DBDFE0;
  border-radius: 0.25rem;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 14px 80px 16px;
  text-decoration: none;
  outline: 0;
  transition: 200ms ease;
  cursor: default;
}

.main-footer__skip-button:hover {
  background: #DBDFE0;
  color: white;
  transition: 200ms ease;
}

.signup-secondary {
  background-color: #3DD281;
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .signup-secondary {
    display: none;
  }

  .signup-main {
    max-width: 100%;
  }

  .main-footer__button-wrapper {
    flex-direction: column;
    padding: 0 18%;
  }
}
