/** {
  border: 1px solid black;
}*/

* {
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  width: 100%;
  /*min-width: 768px;*/
  font-family: 'Hind', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}